/*
	Dies ist die css-Datei, in der das Layout des Graphen beschrieben ist.
*/

/*
	Style-Angabe fuer einen Knoten
*/

graph {
	padding: 50px;
}

node {

	size: 30px;
	
	fill-color: #99ccff;

	text-mode: normal;	
	text-color: #003366;
	text-size: 18;
	text-offset: 0,-5;

	stroke-mode: plain;
	stroke-color: #ffffff;
	stroke-width: 1px;

}


node.place {


}

node.place_highlight {

	stroke-color: #ff0000;
	stroke-width: 3px;
}


node.transition {

	shape: box;


}


/*
   zusaetzliches Attribut "highlight" fuer einen Knoten, der
   hervorgehoben werden soll
*/
node.transition_activated {


	shape: box;
	stroke-color: #0000ff;
	stroke-width: 3px;
}

node.transition_edit {


	shape: box;
	stroke-color: #ff0000;
	stroke-width: 3px;
}

/*
   zusaetzliches Attribut "bild" fuer einen Knoten mit einer Abbildung
*/
node.bild {
	shape: rounded-box;
	size: 50;
	fill-mode: image-scaled;
	fill-image: url('images/logo_grau.png');
}

/*
	Style-Angabe fuer eine Kante
*/
edge {
 	shape: line;
	fill-color: #003366;
	
	arrow-shape: arrow;
	arrow-size: 9px, 6px;
	/*
	text-size:  12;
  text-color: #003366;
	text-color: purple;
	*/
}

/*
	Style-Angabe fuer ein Sprite, dass als Label für eine Kante benutzt wird
*/
sprite.edgeLabel {
	shape: box;
	fill-color: rgb(255, 255, 255);
	size: 40,20;
	text-size: 12;
	text-alignment: center;
	text-offset: 0,-3;
}
sprite.nodeLabel {
	shape: box;
	fill-color: rgb(255,255, 255);
	size: 0,0;

	text-background-mode: rounded-box;
	text-background-color: white;
	text-padding: 2px;
		
	text-size: 12;
	text-alignment: center;
	text-offset: 0,25;
}

